.intro{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 510px;
    width: 100%;
    max-width: 1400px;
    opacity: 0%;
    h1{
        color: white;
    }
}
.intro_back{
    position: absolute;
    top: 0;
    left: 0;
    height: 510px;
    width: 100%;
    max-width: 1400px;
    background-color: black;
}
.intro_img{
    z-index: 0;
    top: 0;
    left: 0;
    position: absolute;
    height: 510px;
    max-width: 1440px;
    width: 100%;
}
